/* @font-face {
    font-family: 'mnsLondonRegular';
    src: url(./fonts/mnsLondonRegular.ttf) format('truetype');
  }
  @font-face {
      font-family: 'mnsLondonSemiBold';
      src: url(./fonts/mnsLondonRegular.ttf) format('truetype');
    } */
